.palette{
    color: #41729F;
    color: #5885AF;
    color: #274472;
    color: #C3E0E5;
}

span[class="css-10trblm e16nr0p30"] {
    background-color: rgba(255, 255, 255, 0.507);
}

div[class="css-keje6w e1tzin5v2"] {
    background-color: rgba(255, 255, 255, 0.507);    
}

div[class="appview-container css-1wrcr25 egzxvld6"]:first-of-type {
    height: 100%;
    /* background-image: url('https://github.com/Chahbaz-Aman/datastore/blob/main/Intel-oneAPI/3519f0c9523c78e1267b548e99bb2249.png?raw=true');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 50% auto; */
    background: no-repeat top center/100% url('https://github.com/Chahbaz-Aman/datastore/blob/main/Intel-oneAPI/inverted.jpg?raw=true'), no-repeat bottom center/50% url('https://github.com/Chahbaz-Aman/datastore/blob/main/Intel-oneAPI/3519f0c9523c78e1267b548e99bb2249.png?raw=true');
}

div[class="css-keje6w e1tzin5v2"] {
    width: 100%;
    max-width: calc(520px - 1rem);
}

@media (min-width: 640px) {
    div[class="appview-container css-1wrcr25 egzxvld6"]:first-of-type {
        background-image: url('https://github.com/Chahbaz-Aman/datastore/blob/main/Intel-oneAPI/3519f0c9523c78e1267b548e99bb2249.png?raw=true');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 50% auto;
    }

    div[class="css-ocqkz7 e1tzin5v4"] {
        flex-direction: column;
    }

    span[class="css-10trblm e16nr0p30"] {
        background-color: rgba(210, 242, 255, 0);
    }
    
    div[class="css-keje6w e1tzin5v2"] {
        background-color: rgba(210, 242, 255, 0);    
    }
}

@media (min-width: 1200px) {
    div[class="appview-container css-1wrcr25 egzxvld6"]:first-of-type {
        background-image: url('https://github.com/Chahbaz-Aman/datastore/blob/main/Intel-oneAPI/3519f0c9523c78e1267b548e99bb2249.png?raw=true');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: auto auto;
    }
    div[class="css-ocqkz7 e1tzin5v4"] {
        flex-direction: row;
    }

    div[class="css-keje6w e1tzin5v2"] {
        width: calc(50% - 1rem);
        max-width: 100%;
    }
}

div[class="stDataFrame css-17b7mgn e17g77xh0"] {
    width: 100%;
}

table {
    width: -webkit-fill-available;
    caption-side: bottom;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2%;
    text-align: center;
}

thead {
    background-color: rgb(240, 242, 246);
}

table .thead .tr {
    text-align: center;
}

footer[class="css-164nlkn egzxvld1"] {
    height: 0;
    font-size: 0;
}